.card{
    padding: 12px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cards{
    border: 2px solid;
}

.card img{
    margin: 0 auto;
    height: 250px;
    width: 90%;
    border: 2px solid rgb(76, 75, 75);
}

.card h4{
    margin-top: 15px;
    font-size: 18pt;
}

.card p{
    font-size: 12pt;
}

.detalles{
    padding: 2px;
    width: 100px;
    border: 2px solid;
}

.detalles:hover{
    background-color: lightslategray;
}
